{% load static %}
<!-- Links Of CSS File -->
<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/assets/css/flaticon.css">
<link rel="stylesheet" href="/static/assets/css/remixicon.css">
<link rel="stylesheet" href="/static/assets/css/meanmenu.min.css">
<link rel="stylesheet" href="/static/assets/css/animate.min.css">
<link rel="stylesheet" href="/static/assets/css/metismenu.min.css">
<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/assets/css/editor.css">
<link rel="stylesheet" href="/static/assets/css/style.css">
<link rel="stylesheet" href="/static/assets/css/responsive.css">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/static/assets/images/favicon.png">