<!-- Start Footer Area -->
<div class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget style-two">
                    <a href="/">
                        <!-- <img src="/static/assets/images/logo.png" alt="Image"> -->
                        <h2 class="text-light">HealthLink</h2>
                    </a>

                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                        porttitor volutpat. Pellentesque in ipsum id orci porta dapibus.</p>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two ml-15">
                    <h3>Company</h3>

                    <ul class="import-link">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About us</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact us</a>
                        </li>
                        <li>
                            <a href="">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two">
                    <h3>Explore</h3>

                    <ul class="import-link">
                        <li>
                            <a href="">Ask question</a>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}">FAQs</a>
                        </li>
                        <li>
                            <a href="{% url 'privacy' %}">Privacy policy</a>
                        </li>
                        <li>
                            <a href="{% url 'terms' %}">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two">
                    <h3>Follow us</h3>

                    <ul class="import-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">Linkedin</a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget style-two">
                    <h3>Contact Us</h3>

                    <ul class="address-link">
                        <li>
                            <span>Call:</span>
                            <a href="tel:+2547 95 067 776">+2547 95 067 776</a>
                        </li>
                        <li>
                            <span>Email:</span>
                            <a href="mailto:jeff.odhiambo@studentambassadors.com"><span
                                    class="__cf_email__">jeff.odhiambo@studentambassadors.com</span></a>
                        </li>
                        <li>
                            <span>Address:</span>
                            52106-00100 Nairobi, Kenya
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-shape">
        <img src="/static/assets/images/footer-shape.png" alt="Image">
    </div>
</div>
<!-- End Footer Area -->

<!-- End Copyright Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-content">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <p>© Proudly Owned by <a href="/" target="_blank">Team X</a></p>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="language">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Language</option>
                            <option value="1">English</option>
                            <option value="2">Arabic</option>
                            <option value="3">Germany</option>
                        </select>
                        <i class="ri-global-line"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright Area -->