{% load i18n %}

<!-- Start Footer Area -->
<div class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget style-two">
                    <a href="/">
                        <img src="/static/assets/images/logo.png" alt="Image" width="200">
                    </a>
                    <p>{% trans "Join HealthLink's community and connect with others who understand your health condition. Our features include discussion boards, search functionality, and a resource library for better health support." %}</p>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two ml-15">
                    <h3>{% trans 'Company' %}</h3>

                    <ul class="import-link">
                        <li>
                            <a href="/">{% trans 'Home' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">{% trans 'About us' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">{% trans 'Contact us' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'blogs:index' %}">{% trans 'Blogs' %}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two">
                    <h3>{% trans 'Explore' %}</h3>

                    <ul class="import-link">
                        <li>
                            <a href="{% url 'questions:ask' %}">{% trans 'Ask question' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}">{% trans 'FAQs' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'privacy' %}">{% trans 'Privacy policy' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'terms' %}">{% trans 'Terms & Conditions' %}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="single-footer-widget style-two">
                    <h3>{% trans 'Follow us' %}</h3>

                    <ul class="import-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">{% trans 'Facebook' %}</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">{% trans 'Instagram' %}</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">{% trans 'Linkedin' %}</a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank">{% trans 'Twitter' %}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget style-two">
                    <h3>{% trans 'Contact Us' %}</h3>

                    <ul class="address-link">
                        <li>
                            <span>{% trans 'Call' %}:</span>
                            <a href="tel:+2547 95 067 776">+2547 95 067 776</a>
                        </li>
                        <li>
                            <span>{% trans 'Email' %}:</span>
                            <a href="mailto:jeff.odhiambo@studentambassadors.com"><span
                                    class="__cf_email__">jeff.odhiambo@studentambassadors.com</span></a>
                        </li>
                        <li>
                            <span>{% trans 'Address' %}:</span>
                            52106-00100 Nairobi, Kenya
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-shape">
        <img src="/static/assets/images/footer-shape.png" alt="Image">
    </div>
</div>
<!-- End Footer Area -->

<!-- End Copyright Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-content">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <p>© {% trans 'Proudly Owned by' %} <a href="/" target="_blank">{% trans 'Team X' %}</a></p>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="language">
                        <form action="{% url 'set_language' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <select class="form-select" aria-label="Default select example" name="language" id="">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                        {{ language.name_local }}({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-info btn-sm">{% trans 'Change' %}</button>
                            <i class="ri-global-line"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright Area -->