<div class="sidebar-menu-wrap">
    <div class="sidemenu-wrap d-flex justify-content-between align-items-center">
        <h3>HealthLink</h3>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="ri-menu-line"></i>
        </button>
    </div>
      
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="left-sidebar">
                <nav class="sidebar-nav" data-simplebar>
                    <ul id="sidebar-menu" class="sidebar-menu">
                        <li>
                            <a href="/" class="box-style {% if title == 'Homepage' %}active{% endif %}">
                                <span class="menu-title">
                                    <i class="ri-home-8-line"></i>
                                    Home
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'questions:all' %}" class="box-style {% if title == 'Questions' %}active{% endif %}">
                                <i class="ri-question-line"></i>
                                <span class="menu-title">
                                    Questions
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'questions:communities' %}" class="box-style {% if title == 'Communities' %}active{% endif %}">
                                <span class="menu-title">
                                    <i class="ri-links-line"></i>
                                    Communities
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="box-style has-arrow {% if r_documents or r_articles or r_videos %}active{% endif %}">
                                <span class="menu-title">
                                    <i class="ri-book-line"></i>
                                    Resources
                                </span>
                            </a>
                            <ul class="sidemenu-nav-second-level">
                                <li>
                                    <a href="{% url 'resources:articles' %}">
                                        <span class="menu-title {% if r_articles %}active{% endif %}">Articles</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'resources:documents' %}">
                                        <span class="menu-title {% if r_documents %}active{% endif %}">Documents</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'resources:videos' %}">
                                        <span class="menu-title {% if r_videos %}active{% endif %}">Videos</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}" class="box-style {% if title == 'Frequently Asked Questions' %}active{% endif %}">
                                <span class="menu-title">
                                    <i class="ri-hq-line"></i>
                                    FAQs
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'questions:groups' %}" class="box-style {% if title == 'Groups' %}active{% endif %}">
                                <span class="menu-title">
                                    <i class="ri-group-2-line"></i>
                                    Groups
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'questions:tags' %}" class="box-style {% if title == 'Tags' %}active{% endif %}">
                                <span class="menu-title">
                                    <i class="ri-price-tag-line"></i>
                                    Tags
                                </span>
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="#" class="has-arrow box-style">
                                <i class="ri-user-line"></i>
                                <span class="menu-title">
                                    User
                                </span>
                            </a>
                            <ul class="sidemenu-nav-second-level">
                                <li>
                                    <a href="{% url 'users:profile' %}">
                                        <span class="menu-title">Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'users:edit_profile' %}">
                                        <span class="menu-title">Edit profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'account_logout' %}">
                                        <span class="menu-title">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
