{% if documents %}
<div class="single-qa-box like-dislike">
    <div class="d-flex">
        <div class="row">
            {% for document in documents %}
            <div class="col-md-4 mb-3">
                <div class="card border-0 shadow-sm">
                    <a href="{{ document.document.url }}">
                        <img src="{{ document.cover_image.url }}" alt="{{ document.title }}" class="img-fluid">
                        <div class="card-header">
                            {{ document.title }}
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info">
    No documents found
</div>
{% endif %}