{% load i18n %}
<div class="right-siderbar">
    <div class="right-siderbar-common">
        <a href="{% url 'questions:ask' %}" class="default-btn">
            {% trans 'Ask a question' %}
        </a>
    </div>
    <div class="right-siderbar-common">
        {% if categories %}
        <div class="category discussions">
            <h3>
                <i class="ri-list-unordered"></i>
                {% trans 'Categories' %}
            </h3>
                <ul>
                    {% if articles or article or r_articles %}
                        <li><a href="{% url 'resources:articles' %}">{% trans 'All' %}</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'resources:articles_category' category.slug %}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    {% elif videos or r_videos %}
                        <li><a href="{% url 'resources:videos' %}">{% trans 'All' %}</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'resources:videos_category' category.slug %}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    {% elif documents or r_documents %}
                        <li><a href="{% url 'resources:documents' %}">{% trans 'All' %}</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'resources:documents_category' category.slug %}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    {% if faqs or faq %}
                        <li><a href="{% url 'faq' %}">{% trans 'All' %}</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'faqs_category' category.slug %}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    {% if q_category %}
                        <li><a href="{% url 'questions:all' %}">{% trans 'All' %}</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'questions:category_detail' category.slug %}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="right-siderbar-common">
            <div class="answer-count">
                <ul class="d-flex flex-wrap">
                    <li>
                        <span>{% trans 'Questions' %}</span>
                        <span class="count">{{ total_questions }}</span>
                    </li>
                    <li>
                        <span>{% trans 'Answers' %}</span>
                        <span class="count">{{ total_answers }}</span>
                    </li>
                    <li>
                        <span>{% trans 'Users' %}</span>
                        <span class="count">{{ total_users }}</span>
                    </li>
                    <li>
                        <span>{% trans 'Tags' %}</span>
                        <span class="count">{{ tags.all.count }}</span>
                    </li>
                </ul>
            </div>
        </div>
    {% if latest_post %}
    <div class="right-siderbar-common">
        <div class="recent-post">
            <h3>
                <i class="ri-discuss-line"></i>
                {% trans 'Most Liked Questions' %}
            </h3>

            <ul>
                {% for post in latest_post %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.title|truncatechars:60 }}
                        </a>
                        <p>{{ post.created_at|date }} by <a href="{{ post.user.profile.get_absolute_url }}">{{ post.user.get_full_name }}</a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if top_members %}
    <div class="right-siderbar-common">
        <div class="top-members">
            <h3>
                <i class="ri-discuss-line"></i>
                {% trans 'Top members' %}
            </h3>

            <ul>
                {% for member in top_members %}
                <li>
                    <a href="{% url 'users:user_profile' member.username %}">
                        {% if member.profile.image %}
                            <img src="{{ member.profile.image.url }}" style="max-height: 45px !important;" alt="{{ user.username }}">
                        {% else %}
                            {% if member.profile.gender == 'other' %}
                                <img src="/static/user.png" style="max-height: 45px !important;" alt="{{ user.username }}">
                            {% elif member.profile.gender == 'male' %}
                                <img src="/static/man.png" style="max-height: 45px !important;" alt="{{ user.username }}">
                            {% else %}
                                <img src="/static/woman.png" style="max-height: 45px !important;" alt="{{ user.username }}">
                            {% endif %}
                        {% endif %}
                        <p>{{ member.get_full_name|default:"No Name" }} <span>(5k {% trans 'Points' %})</span></p>
                        <span>9 {% trans 'Questions' %}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if tags %}
    <div class="right-siderbar-common">
        <div class="trending-tags">
            <h3>
                <i class="ri-price-tag-3-line"></i>
                {% trans 'Trending Tags' %}
            </h3>

            <ul>
                {% for tag in tags %}
                <li>
                    <a href="{% url 'questions:tag_detail' tag.slug %}">
                        {{ tag }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>