<div class="right-siderbar">
    <div class="right-siderbar-common">
        {% if categories %}
        <div class="category discussions">
            <h3>
                <i class="ri-list-unordered"></i>
                Categories
            </h3>
                <ul>
                    {% if articles or article or r_articles %}
                        <li><a href="{% url 'resources:articles' %}">All</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'resources:articles_category' category.slug %}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    {% elif videos or r_videos %}
                        <li><a href="{% url 'resources:videos' %}">All</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'resources:videos_category' category.slug %}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    {% elif documents or r_documents %}
                        <li><a href="{% url 'resources:documents' %}">All</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'resources:documents_category' category.slug %}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    {% if faqs or faq %}
                        <li><a href="{% url 'faq' %}">All</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'faqs_category' category.slug %}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% if latest_post %}
    <div class="right-siderbar-common">
        <div class="recent-post">
            <h3>
                <i class="ri-discuss-line"></i>
                Recent post
            </h3>

            <ul>
                {% for post in latest_post %}
                    {% for pst in post %}
                    <li>
                        <a href="{{ pst.get_absolute_url }}">
                            {{ pst.title }}
                        </a>
                        <p>{{ pst.created_at|date }} by <a href="{{ pst.author.profile.get_absolute_url }}">{{ pst.author.get_full_name }}</a></p>
                    </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if tags %}
    <div class="right-siderbar-common">
        <div class="trending-tags">
            <h3>
                <i class="ri-price-tag-3-line"></i>
                Trending Tags
            </h3>

            <ul>
                {% for tag in tags %}
                <li>
                    <a href="{% url 'resources:article_tags' tag.slug %}">
                        {{ tag }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>