<div class="right-siderbar">
    <div class="right-siderbar-common">
        <div class="category">
            <h3>
                <i class="ri-list-unordered"></i>
                Categories
            </h3>

            <select class="form-select" aria-label="Default select example">
                <option selected>Select category</option>
                <option value="1">Discussion</option>
                <option value="2">Language</option>
                <option value="3">Analytics</option>
            </select>
        </div>
    </div>

    <div class="right-siderbar-common">
        <div class="recent-post">
            <h3>
                <i class="ri-discuss-line"></i>
                Recent post
            </h3>

            <ul>
                <li>
                    <a href="most-answered.html">
                        What could be UX design software?
                    </a>
                    <p>8 hours ago by <a href="user.html">Alan Woodson</a></p>
                </li>
                <li>
                    <a href="most-answered.html">
                        All the new features that have been used in Windows 11
                    </a>
                    <p>11 hours ago by <a href="user.html">Juan McPhail</a></p>
                </li>
                <li>
                    <a href="most-answered.html">
                        What is the most important thing in learning design?
                    </a>
                    <p>11 hours ago by <a href="user.html">Vickie White</a></p>
                </li>
                <li>
                    <a href="most-answered.html">
                        Which language is the most popular in the web right now?
                    </a>
                    <p>13 hours ago by <a href="user.html">Jose Merz</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>