{% load i18n %}
{% if most_viewed_questions %}
    {% for most_viewed in most_viewed_questions %}
        <div class="single-qa-box like-dislike">
            <div class="d-flex">
                <div class="link-unlike flex-shrink-0">
                    <a href="{{ most_viewed.user.profile.get_absolute_url }}">
                        {% if most_viewed.user.profile.image %}
                            <img src="{{ most_viewed.user.profile.image.url }}" style="max-height: 45px !important;" alt="{{ most_viewed.user.username }}">
                        {% else %}
                            {% if most_viewed.user.profile.gender == 'other' %}
                                <img src="/static/user.png" style="max-height: 45px !important;" alt="{{ most_viewed.user.username }}">
                            {% elif most_viewed.user.profile.gender == 'male' %}
                                <img src="/static/man.png" style="max-height: 45px !important;" alt="{{ most_viewed.user.username }}">
                            {% else %}
                                <img src="/static/woman.png" style="max-height: 45px !important;" alt="{{ most_viewed.user.username }}">
                            {% endif %}
                        {% endif %}
                    </a>

                    <div class="donet-like-list">
                        <button class="like-unlink-count like">
                            <form method="post" action="{% url 'questions:like_question' most_viewed.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="question_id" value="{{ most_viewed.id }}">
                                <input type="hidden" name="action" value="like">
                                <button type="submit" class="like-unlink-count like"><i class="ri-thumb-up-fill"></i></button>
                            </form>
                                <span>{{ most_viewed.likes }}</span>
                        </button>
                    </div>

                    <div class="donet-like-list">
                        <button class="like-unlink-count dislike">
                            <form method="post" action="{% url 'questions:dislike_question' most_viewed.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="question_id" value="{{ most_viewed.id }}">
                                <input type="hidden" name="action" value="dislike">
                                <button type="submit" class="like-unlink-count dislike"><i class="ri-thumb-down-fill"></i></button>
                            </form>
                            <span>{{ most_viewed.dislikes }}</span>
                        </button>
                    </div>
                </div>

                <div class="flex-grow-1 ms-3">
                    <ul class="graphic-design">
                        <li>
                            <a href="{{ most_viewed.user.profile.get_absolute_url }}">{{ most_viewed.user.get_full_name|default:'No Name' }}</a>
                        </li>
                        <li>
                            <span>{{ most_viewed.created_at }}</span>
                        </li>
                        <li>
                            <span>{% trans 'In' %}:</span>
                            <a href="{% url 'questions:category_detail' most_viewed.category.slug  %}" class="graphic">
                                {{ most_viewed.category.title }}
                            </a>
                        </li>
                    </ul>

                    <h3>
                        <a href="{{ most_viewed.get_absolute_url }}">
                            {{ most_viewed.title }}
                        </a>
                    </h3>

                    <p>
                        {{ most_viewed.description|truncatechars:220 }}
                    </p>
                    {% if most_viewed.tags.all %}
                        <ul class="tag-list">
                            {% for tag in most_viewed.tags.all %}
                            <li>
                                <a href="{% url 'questions:tag_detail' tag.slug %}">{{ tag }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="anser-list">
                            <!-- <li>
                                <a href="polls.html">
                                    24 Vote
                                </a>
                            </li> -->
                            <li>
                                <a href="{{ most_viewed.get_absolute_url }}#answers">
                                    {{ most_viewed.answers.all.count }} {% trans 'Answers' %}
                                </a>
                            </li>
                            <li>
                                <a>
                                    {{ most_viewed.views}}  {% trans 'Views' %}
                                </a>
                            </li>
                            <li>
                                <ul class="qa-share">
                                    <li class="share-option">
                                        <span>
                                            <i class="ri-share-fill"></i>
                                        </span>
                                        
                                        <ul class="social-icon">
                                            <li>
                                                <a href="https://www.facebook.com/" target="_blank">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.twitter.com/" target="_blank">
                                                    <i class="ri-twitter-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/" target="_blank">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <a href="{{ most_viewed.get_absolute_url }}#answer" class="default-btn">
                            {% trans 'Answer' %}
                        </a>
                    </div>
                </div>
            </div>
            <span class="featured">{% trans 'Most Viewed' %}</span>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info">
        {% trans 'No Featured Questions Found' %}
    </div>
{% endif %}
<!-- <div class="pagination-area">
    <a href="all-queations.html" class="next page-numbers">
        <i class="ri-arrow-left-line"></i>
    </a>
    <span class="page-numbers current" aria-current="page">1</span>
    <a href="all-queations.html" class="page-numbers">2</a>
    <a href="all-queations.html" class="page-numbers">3</a>
    
    <a href="all-queations.html" class="next page-numbers">
        <i class="ri-arrow-right-line"></i>
    </a>
</div> -->