{% if unanswered_questions %}
    {% for unanswered_question in unanswered_questions %}
        <div class="single-qa-box like-dislike">
            <div class="d-flex">
                <div class="link-unlike flex-shrink-0">
                    <a href="{{ unanswered_question.user.profile.get_absolute_url }}">
                        {% if unanswered_question.user.profile.image %}
                            <img src="{{ unanswered_question.user.profile.image.url }}" style="max-height: 45px !important;" alt="{{ unanswered_question.user.username }}">
                        {% else %}
                            {% if unanswered_question.user.profile.gender == 'other' %}
                                <img src="/static/user.png" style="max-height: 45px !important;" alt="{{ unanswered_question.user.username }}">
                            {% elif unanswered_question.user.profile.gender == 'male' %}
                                <img src="/static/man.png" style="max-height: 45px !important;" alt="{{ unanswered_question.user.username }}">
                            {% else %}
                                <img src="/static/woman.png" style="max-height: 45px !important;" alt="{{ unanswered_question.user.username }}">
                            {% endif %}
                        {% endif %}
                    </a>

                    <!-- <div class="donet-like-list">
                        <button class="like-unlink-count like">
                            <i class="ri-thumb-up-fill"></i>
                            <span>4974</span>
                        </button>
                    </div>

                    <div class="donet-like-list">
                        <button class="like-unlink-count dislike">
                        <i class="ri-thumb-down-fill"></i>
                            <span>25</span>
                        </button>
                    </div> -->
                </div>

                <div class="flex-grow-1 ms-3">
                    <ul class="graphic-design">
                        <li>
                            <a href="{{ unanswered_question.user.profile.get_absolute_url }}">{{ unanswered_question.user.get_full_name|default:'No Name' }}</a>
                        </li>
                        <li>
                            <span>{{ unanswered_question.created_at }}</span>
                        </li>
                        <li>
                            <span>In:</span>
                            <a href="{% url 'questions:category_detail' unanswered_question.category.slug %}" class="graphic">
                                {{ unanswered_question.category.title }}
                            </a>
                        </li>
                    </ul>

                    <h3>
                        <a href="{{ unanswered_question.get_absolute_url }}">
                            {{ unanswered_question.title }}
                        </a>
                    </h3>

                    <p>
                        {{ unanswered_question.description|truncatechars:220 }}
                    </p>
                    {% if unanswered_question.tags.all %}
                        <ul class="tag-list">
                            {% for tag in unanswered_question.tags.all %}
                            <li>
                                <a href="{% url 'questions:tag_detail' tag.slug %}">{{ tag }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="anser-list">
                            <!-- <li>
                                <a href="polls.html">
                                    24 Vote
                                </a>
                            </li> -->
                            <li>
                                <a href="{{ unanswered_question.get_absolute_url }}#answers">
                                    {{ unanswered_question.answers.all.count }} Answers
                                </a>
                            </li>
                            <li>
                                <a>
                                    {{ unanswered_question.views}} Views
                                </a>
                            </li>
                            <li>
                                <ul class="qa-share">
                                    <li class="share-option">
                                        <span>
                                            <i class="ri-share-fill"></i>
                                        </span>
                                        
                                        <ul class="social-icon">
                                            <li>
                                                <a href="https://www.facebook.com/" target="_blank">
                                                    <i class="ri-facebook-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.twitter.com/" target="_blank">
                                                    <i class="ri-twitter-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/" target="_blank">
                                                    <i class="ri-linkedin-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <a href="{{ unanswered_question.get_absolute_url }}#answer" class="default-btn">
                            Answer
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-info">
        No Unanswered Questions Found
    </div>
{% endif %}
<!-- <div class="pagination-area">
    <a href="all-queations.html" class="next page-numbers">
        <i class="ri-arrow-left-line"></i>
    </a>
    <span class="page-numbers current" aria-current="page">1</span>
    <a href="all-queations.html" class="page-numbers">2</a>
    <a href="all-queations.html" class="page-numbers">3</a>
    
    <a href="all-queations.html" class="next page-numbers">
        <i class="ri-arrow-right-line"></i>
    </a>
</div> -->