{% extends 'base.html' %}
{% load i18n %}
{% block content %}
		<!-- Start Mail Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						{% include 'partials/left-sidebar.html' %}
					</div>

					<div class="col-lg-6">
						<div class="middull-content">
							<ul class="page-nish">
								<li>
									<a href="/">
										<i class="ri-home-8-line"></i>
										{% trans 'Home' %}
									</a>
								</li>
                                <li>
                                    <a href="{% url 'resources:articles' %}" class="m-0 p-0">
									    {% trans 'Articles' %}
                                    </a>
								</li>
                                <li>
                                    <a href="{% url 'resources:articles_category' article.category.slug %}" class="m-0 p-0">
									    {{ article.category }}
                                    </a>
								</li>
								<li class="active">
									{{ article.title }}
								</li>
							</ul>
							
							<form class="aq-form">
								<i class="ri-search-line"></i>
								<input type="text" class="form-control" placeholder="{% trans 'Have a question? Ask or enter a search' %}">
								<button class="aq-btn">
									{% trans 'Ask Question' %}
								</button>
							</form>

							<div class="question-details-area">
								<div class="question-details-content like-dislike">
									<div class="d-flex">
										<div class="flex-grow-1 ms-3">
											<ul class="graphic-design">
												<li>
													<a href="{{ article.author.profile.get_absolute_url }}">{{ article.author.get_full_name|default:'No Name'}}</a>
												</li>
												<li>
													<span>{{ article.updated_at }}</span>
												</li>
												<li>
													<span>{% trans 'In' %}:</span>
													<a href="{% url 'resources:articles_category' article.category.slug %}" class="graphic">
														{{ article.category }}
													</a>
												</li>
											</ul>
                                            {% if article.image %}
                                                <img src="{{ article.image.url }}" alt="{{ article }}" class="img-fluid">
                                            {% endif %}
											<h3 class="mt-3">
												<a href="#">
													{{ article.title }}
												</a>
											</h3>

											<p> 
                                                {{ article.description|safe|linebreaks }}
                                            </p>

                                            {% if article.tags.all %}
											<ul class="tag-list">
                                                {% for tag in article.tags.all %}
                                                    <li>
                                                        <a href="">{{ tag }}</a>
                                                    </li>
                                                {% endfor %}
											</ul>
                                            {% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						{% include 'resources/partials/right-sidebar.html' %}
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->
{% endblock %}