{% extends 'base.html' %}
{% block content %}
		<!-- Start Mail Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						{% include 'partials/left-sidebar.html' %}
					</div>

					<div class="col-lg-6">
						<div class="middull-content">
                            <ul class="page-nish">
								<li>
									<a href="/">
										<i class="ri-home-8-line"></i>
										Home
									</a>
								</li>
                                {% if r_articles %}
                                <li>
                                    <a href="{% url 'resources:articles' %}" class="m-0 p-0">
									Articles
                                    </a>
								</li>
                                {% endif %}
                                {% if r_videos %}
                                <li>
                                    <a href="{% url 'resources:videos' %}" class="m-0 p-0">
                                        Videos
                                    </a>
                                </li>
                                {% endif %}
                                {% if r_documents %}
                                <li>
                                    <a href="{% url 'resources:documents' %}" class="m-0 p-0">
                                        Documents
                                    </a>
                                </li>
                                {% endif %}
                                {% if category %}
                                    <li>
                                        Categories
                                    </li>
                                    <li>
                                        {{ category }}
                                    </li>
                                {% endif %}
                                {% if tag %}
                                    <li>
                                        Tags
                                    </li>
                                    <li>
                                        {{ tag }}
                                    </li>
                                {% endif %}
							</ul>
							<form class="aq-form">
								<i class="ri-search-line"></i>
								<input type="text" class="form-control" placeholder="Have a question? Ask or enter a search">
								<button class="aq-btn">
									Ask Question
								</button>
							</form>

							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="recent-questions" role="tabpanel" aria-labelledby="recent-questions-tab">
                                    {% if r_articles %}
                                        {% include 'resources/partials/articles.html' %}
                                    {% endif %}
                                    {% if r_videos %}
                                        {% include 'resources/partials/videos.html' %}
                                    {% endif %}
                                    {% if r_documents %}
                                        {% include 'resources/partials/documents.html' %}
                                    {% endif %}
									<div class="pagination-area">
										<a href="all-queations.html" class="next page-numbers">
											<i class="ri-arrow-left-line"></i>
										</a>
										<span class="page-numbers current" aria-current="page">1</span>
										<a href="all-queations.html" class="page-numbers">2</a>
										<a href="all-queations.html" class="page-numbers">3</a>
										
										<a href="all-queations.html" class="next page-numbers">
											<i class="ri-arrow-right-line"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						{% include 'resources/partials/right-sidebar.html' %}
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->
{% endblock %}