{% extends 'base.html' %}
{% block meta %}
    <meta name="description" content="Learn more about HealthLink and our mission to provide a platform for people to connect, share information, and support each other to improve their health and well-being. Our community of health enthusiasts provides resources and support for topics such as nutrition, fitness, mental health, chronic illness management, and more. Join our community to connect with others who share your passion for wellness and get support, advice, and inspiration along the way."> 
	<meta name="keywords" content="HealthLink, health forum, about us, mission, vision, values, team, wellness, fitness, mental health, chronic illness, disease management, treatment options, healthcare, self-care, prevention, holistic health, support groups, medical advice, healthy lifestyle.">
	<meta name="title" content="About HealthLink | Learn More About Our Health Community">
{% endblock %}
{% load i18n %}
{% block content %}
		<!-- Start About Banner Area -->
		<div class="about-banner-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="about-banner-content">
							<span class="top-title">{% trans 'Who we are' %}</span>
							<h2>{% trans 'HealthLink was founded by a group of students for healthcare professionals and patients with different health conditions.' %}</h2>
							<p>{% trans 'We saw the need for a safe and supportive online community for people facing any health challenge. Our mission is to provide a platform for people to connect, share information, and support each other. We are committed to providing a safe and inclusive environment for all members of our community.' %}</p>
						</div>
					</div>

					<div class="col-lg-5">
						<div class="about-banner-img">
							<img src="/static/about.png" alt="About Image">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End About Banner Area -->

		<!-- Start Partner Area -->
		<div class="partner-area ptb-100">
			<div class="container">
				<div class="partner-slide owl-carousel owl-theme">
					<div class="partner-item">
						<img src="/static/partner-1.png" height="100" alt="Microsoft ADC">
					</div>
					<div class="partner-item">
						<img src="/static/partner-2.png" height="100" alt="Amref">
					</div>
					<div class="partner-item">
						<img src="/static/partner-3.png" height="100" alt="PSI">
					</div>
				</div>
			</div>
		</div>
		<!-- End Partner Area -->
		{% if teams %}
		<!-- Start team Area -->
		<div class="team-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>{% trans 'Our leadership team' %}</h2>
				</div>

				<div class="row justify-content-center">
					{% for team in teams %}
					<div class="col-xl-3 col-md-6">
						<div class="single-team-item">
							<img src="{{ team.image.url }}" alt="{{ team.user.get_full_name|default:'No Name' }}">
							<h3>{{ team.user.get_full_name|default:'No Name' }}</h3>
							<span>{{ team.title }}</span>
							<ul class="d-flex justify-content-between align-items-center">
								<li>
									{% if team.user.profile.facebook %}
									<a href="{{ team.user.profile.facebook}}" target="_blank">
										<i class="ri-facebook-fill"></i>
									</a>
									{% endif %}
									{% if team.user.profile.twitter %}
									<a href="{{ team.user.profile.twitter }}" target="_blank">
										<i class="ri-twitter-line"></i>
									</a>
									{% endif %}
									{% if team.user.profile.linkedin %}
									<a href="{{ team.user.profile.linkedin }}" target="_blank">
										<i class="ri-linkedin-fill"></i>
									</a>
									{% endif %}
									{% if team.user.profile.instagram %}
									<a href="{{ team.user.profile.instagram }}" target="_blank">
										<i class="ri-instagram-line"></i>
									</a>
									{% endif %}
								</li>
								{% if request.user.is_authenticated %}
								<li>
									{% if team.user == request.user %}
										<a href="{% url 'users:edit_profile' %}" class="default-btn">{% trans 'Edit profile' %}</a>
									{% else %}
										{% if is_following %}
											<a href="{% url 'users:unfollow' team.user.username %}" class="default-btn">{% trans 'Unfollow' %}</a>
										{% else %}
											<a href="{% url 'users:follow' team.user.username %}" class="default-btn">{% trans 'Follow' %}</a>
										{% endif %}
									{% endif %}
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- End team Area -->
{% endif %}
{% endblock %}	