<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}

        {% endblock %}
        {% include 'partials/css.html' %}
        <title>{% block title %}{% endblock %} {% if title %} {{ title }} -{% endif %} {% if category %}{{ category.title }}-{% endif %} HealthLink</title>
    </head>
    <body>
        <!-- Start Preloader Area -->
		<div class="preloader" id="loader-style">
			<div class="preloader-wrap">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<!-- End Preloader Area -->
        {% include 'partials/top-nav.html' %}
        {% if title != 'Homepage' %}
            {% include 'partials/breadcrum.html' %}
        {% endif %}
        {% include 'partials/messages.html' %}
        {% block content %}

        {% endblock %}
        {% include 'partials/footer.html' %}
        {% include 'partials/js.html' %}
    </body>
</html>