{% extends 'base.html' %}
{% load i18n %}
{% block content %}
		<!-- Start Blog Area -->
		<div class="blog-area ptb-100">
			<div class="container">
				{% if blogs %}
				<div class="row justify-content-center">
					{% for blog in blogs %}
					<div class="col-lg-4 col-md-6">
						<div class="blog-single-item">
							<a href="{{ blog.get_absolute_url }}">
								<img src="{{ blog.image.url }}" alt="{{ blog.title }}">
							</a>

							<div class="blog-content">
								<ul>
									<li>
										<a href="{{ blog.author.profile.get_absolute_url }}">
											{% if blog.author.profile.image %}
												<img src="{{ blog.author.profile.image.url }}" style="max-height: 45px !important;" alt="{{ user.username }}">
											{% else %}
												{% if blog.author.profile.gender == 'other' %}
													<img src="/static/user.png" style="max-height: 45px !important;" alt="{{ user.username }}">
												{% elif blog.author.profile.gender == 'male' %}
													<img src="/static/man.png" style="max-height: 45px !important;" alt="{{ user.username }}">
												{% else %}
													<img src="/static/woman.png" style="max-height: 45px !important;" alt="{{ user.username }}">
												{% endif %}
											{% endif %}
											<span>{{ blog.author.get_full_name|default:'No Name' }}</span>
										</a>
									</li>
									<li>
										{{ blog.pub_date_pretty }}
									</li>
								</ul>
	
								<h3>
									<a href="{{ blog.get_absolute_url }}">
										{{ blog.title }}
									</a>
								</h3>
	
								<p>{{ blog.summary }}</p>
							</div>
						</div>
					</div>
					{% endfor %}

					<!-- <div class="col-lg-12">
						<div class="pagination-area mt-0 mb-0">
							<a href="#" class="next page-numbers">
								<i class="ri-arrow-left-line"></i>
							</a>
							<span class="page-numbers current" aria-current="page">1</span>
							<a href="#" class="page-numbers">2</a>
							<a href="#" class="page-numbers">3</a>
							
							<a href="#" class="next page-numbers">
								<i class="ri-arrow-right-line"></i>
							</a>
						</div>
					</div> -->
				</div>
				{% else %}
					<p>{% trans 'No Blogs Found' %}</p>
				{% endif %}
			</div>
		</div>
		<!-- End Blog Area -->

{% endblock %}