{% extends 'base.html' %}
{% block meta %}
    <meta name="description" content="Join HealthLink community to learn, share, and connect with others who are passionate about health and wellness. Explore topics such as nutrition, fitness, mental health, chronic illness management, and more. Get support, advice, and inspiration from our community of health enthusiasts.">
    <meta name="keywords" content="HealthLink, health forum, wellness, fitness, nutrition, mental health, chronic illness, disease management, treatment options, healthcare, self-care, prevention, holistic health, support groups, medical advice, healthy lifestyle">
	<meta name="title" content="HealthLink| Join Our Community of Health Enthusiasts">
{% endblock %}
{% load i18n %}
{% block content %}
		<!-- Start Banner Area -->
		<div class="banner-area">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="banner-content">
							<h1>Hlink</h1>
							<h3>{% trans 'Join Our Health Community' %} <span>{% trans 'Today' %}</span>!</h3>
							<p>{% trans 'HealthLink is a safe and supportive community for people with different health conditions. Our features include discussion boards, search functionality, and a resource library. Join us today to connect with others who share similar experiences.' %}</p>
							<a href="{% url 'account_login' %}" class="default-btn">
								{% trans 'Get Started' %}
							</a>
						</div>
					</div>

					<div class="col-lg-6 pe-0">
						<div class="banner-img">
							<img src="/static/assets/images/banner/banner1-img.png" alt="Image">
							<img src="/static/assets/images/banner/shape-1.png" alt="Image" class="shape shape-1">
							<img src="/static/assets/images/banner/shape-2.png" alt="Image" class="shape shape-2">
							<img src="/static/assets/images/banner/shape-3.png" alt="Image" class="shape shape-3">
							<img src="/static/assets/images/banner/shape-4.png" alt="Image" class="shape shape-4">
							<img src="/static/assets/images/banner/shape-5.png" alt="Image" class="shape shape-5">
							<img src="/static/assets/images/banner/shape-6.png" alt="Image" class="shape shape-6">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Banner Area -->

		<!-- Start Mail Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						{% include 'partials/left-sidebar.html' %}
					</div>

					<div class="col-lg-6">
						<div class="middull-content">
							{% include 'partials/search.html' %}

							<ul class="nav nav-tabs questions-tabs d-flex justify-content-between" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="recent-questions-tab" data-bs-toggle="tab" data-bs-target="#recent-questions" type="button" role="tab" aria-controls="recent-questions" aria-selected="true">
										{% trans 'Recent' %}
									</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="most-answered-tab" data-bs-toggle="tab" data-bs-target="#most-answered" type="button" role="tab" aria-controls="most-answered" aria-selected="false">
										{% trans 'Most Answered' %}
									</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="unanswered-question-tab" data-bs-toggle="tab" data-bs-target="#unanswered-question" type="button" role="tab" aria-controls="unanswered-question" aria-selected="false">
										{% trans 'Unanswered' %}
									</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="featured-question-tab" data-bs-toggle="tab" data-bs-target="#featured-question" type="button" role="tab" aria-controls="featured-question" aria-selected="false">
										{% trans 'Most Viewed' %}
									</button>
								</li>
							</ul>

							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="recent-questions" role="tabpanel" aria-labelledby="recent-questions-tab">
									{% include 'forum/questions/most-recent.html' %}
								</div>

								<div class="tab-pane fade" id="most-answered" role="tabpanel" aria-labelledby="most-answered-tab">
									{% include 'forum/questions/most-answered.html' %}
								</div>

								<div class="tab-pane fade" id="unanswered-question" role="tabpanel" aria-labelledby="unanswered-question-tab">
									{% include 'forum/questions/unanswered.html' %}
								</div>

								<div class="tab-pane fade" id="featured-question" role="tabpanel" aria-labelledby="featured-question-tab">
									{% include 'forum/questions/featured.html' %}
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3">

						{% include 'resources/partials/right-sidebar.html' %}
							
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->


{% endblock %}