{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<!-- End Privacy policy Area -->
<section class="ptb-100">
	<div class="container">
		<div class="main-content-text">
			{% blocktrans %}We at HealthLink are committed to protecting your privacy. This Privacy Policy explains how we
				collect, use, and protect your personal information when you use our platform.{% endblocktrans %} <br>
			<h3>1. {% trans 'Information We Collect' %}:</h3>
			{% blocktrans %}We collect personal information that you voluntarily provide to us when you register for an
				account or use our platform. This may include your name, email address, health conditions, medications,
				treatments, and other health-related information. We may also collect information about your use of our
				platform, including your IP address, browser type, and device information.{% endblocktrans %}

			<div class="gap-20"></div>

			<h3>2. {% trans 'How We Use Your Information' %} :</h3>
			{% blocktrans %}We use your personal information to provide you with a safe and supportive community for people
				with different health conditions. This includes allowing you to connect with other users, participate in
				discussions, and access resources. We may also use your information to personalize your experience,
				provide customer support, and improve our platform.{% endblocktrans %}

			<div class="gap-20"></div>

			<h3>3. {% trans 'How We Protect Your Information' %}:</h3>
			{% blocktrans %}We take reasonable measures to protect your personal information from unauthorized access, use,
				or disclosure. We use SSL encryption to secure your data during transmission and store your information
				on secure servers. We also use administrative, physical, and technical safeguards to protect your
				information from unauthorized access.{% endblocktrans %}

			<div class="gap-20"></div>

			<h3>4. {% trans 'Sharing Your Information' %}:</h3>
			{% blocktrans %}We do not share your personal information with third parties without your consent, except as
				required by law or to protect our legal rights. We may share your information with our service providers
				who assist us in operating our platform, such as hosting and maintenance providers.{% endblocktrans %}

			<div class="gap-20"></div>

			<h3>5. {% trans 'Your Choices' %}:</h3>
			{% blocktrans %}You can control your personal information by updating your profile settings and preferences.
				You can also delete your account at any time. We may retain your information for a reasonable period to
				comply with legal or regulatory requirements, resolve disputes, or enforce our policies.{% endblocktrans %}

			<div class="gap-20"></div>

			<h3>6. {% trans 'Changes to Our Privacy Policy' %}:</h3>
			{% blocktrans %}We may update our Privacy Policy from time to time. We will notify you of any material changes
				to our policy by email or by posting a notice on our platform. Your continued use of our platform after
				any changes to our policy will signify your acceptance of the updated policy.{% endblocktrans %}
			<div class="gap-20"></div>

			<h3>7. {% trans 'Contact Us' %} :</h3>
			{% blocktrans %}If you have any questions or concerns about our Privacy Policy, please contact us at{% endblocktrans %}
			<ul>
				<li>{% trans 'Phone number' %}: +254795067776</li>
			</ul>
		</div>
	</div>
</section>
<!-- End Privacy policy Area -->
{% endblock %}