{% extends 'base.html' %}
{% load i18n %}
{% block content %}
		<!-- Start Mail Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						{% include 'partials/left-sidebar.html' %}
					</div>

					<div class="col-lg-9">
						<div class="edit-profile-area">
							{% include 'user/partials/top-nav.html' %}
							<div class="profile-tabs">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="edit-profile-tab" data-bs-toggle="tab" data-bs-target="#edit-profile" type="button" role="tab" aria-controls="edit-profile" aria-selected="true">{% trans 'Edit Profile' %}</button>
									</li>
									
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="change-linkedin-tab" data-bs-toggle="tab" data-bs-target="#change-linkedin" type="button" role="tab" aria-controls="change-linkedin" aria-selected="false">{% trans 'Change Password' %}</button>
									</li>

									<li class="nav-item" role="presentation">
										<button class="nav-link" id="email-settings-tab" data-bs-toggle="tab" data-bs-target="#email-settings" type="button" role="tab" aria-controls="email-settings" aria-selected="false">{% trans 'Email Settings' %}</button>
									</li>

									<li class="nav-item" role="presentation">
										<button class="nav-link" id="privacy-tab" data-bs-toggle="tab" data-bs-target="#privacy" type="button" role="tab" aria-controls="privacy" aria-selected="false">{% trans 'Privacy' %}</button>
									</li>

									<li class="nav-item" role="presentation">
										<button class="nav-link" id="delete-account-tab" data-bs-toggle="tab" data-bs-target="#delete-account" type="button" role="tab" aria-controls="delete-account" aria-selected="false">{% trans 'Deactivate Account' %}</button>
									</li>
								</ul>
	
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active edit-profile" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
										<div class="public-information">
											<h3>{% trans 'Public information' %}</h3>
											<form class="edeite-content" method="post" enctype="multipart/form-data">
												{% csrf_token %}
												<div class="form-group">
													<div class="row">
														<div class="col-sm-12">
															<label for="image">{% trans 'Profile Picture' %}</label>
															<input type="file" name="image" id="image" class="form-control">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-sm-6">
															<label for="first-name">{% trans 'First Name' %}*</label>
															<input type="text" class="form-control" name="first_name" id="first-name" required value="{{ user.first_name }}">
														</div>
														<div class="col-sm-6">
															<label for="last-name">{% trans 'Last Name' %}*</label>
															<input type="text" class="form-control" name="last_name" id="last-name" required value="{{ user.last_name }}">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-sm-6">
															<label for="email">{% trans 'Email' %}*</label>
															<input type="email" class="form-control" name="email" id="email" required value="{{ user.email }}">
														</div>
														<div class="col-sm-6">
															<label for="phone">{% trans 'Phone' %}*</label>
															<input type="text" class="form-control" name="phone_number" required id="phone" value="{{ user.profile.phone_number }}">
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="row">
														<div class="col-sm-6">
															<label>{% trans 'Location' %}</label>
															<input type="text" class="form-control" name="location" id="location" value="{{ user.profile.location }}">
														</div>
														<div class="col-sm-6">
															<label for="username">{% trans 'Username' %}*</label>
															<input type="text" class="form-control" name="username" required id="username" value="{{ user.username }}">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-sm-6">
															<label for="gender">{% trans 'Gender' %}*</label>
															<select name="gender" required class="form-control" id="gender">
																{% if user.profile.gender == 'male' %}
																	<option value="male" selected>{% trans 'Male' %}</option>
																	<option value="female">{% trans 'Female' %}</option>
																	<option value="other">{% trans 'Other' %}</option>
																{% endif %}
																{% if user.profile.gender == 'female' %}
																	<option value="male">{% trans 'Male' %}</option>
																	<option value="female" selected>{% trans 'Female' %}</option>
																	<option value="other">{% trans 'Other' %}</option>
																{% endif %}
																{% if user.profile.gender == 'other' %}
																	<option value="male">{% trans 'Male' %}</option>
																	<option value="female">{% trans 'Female' %}</option>
																	<option value="other" selected>{% trans 'Other' %}</option>
																{% endif %}
															</select>
														</div>
														<div class="col-sm-6">
															<label for="age">{% trans 'Age' %}</label>
															<input type="number" class="form-control" name="age" id="age" value="{{ user.profile.age }}">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-sm-6">
															<label for="language_preference">{% trans 'Language Preference' %}*</label>
															<select name="language_preference" required class="form-control" id="language_preference">
																{% get_available_languages as LANGUAGES %}
																{% get_language_info_list for LANGUAGES as languages %}
																{% for language in languages %}
																	<option value="{{ language.code }}" {% if language.code == user.profile.language_preference %}selected{% endif %}>
																		{{ language.name_local }}({{ language.code }})
																	</option>
																{% endfor %}
															</select>
														</div>
														<div class="col-sm-6">
															<label for="linkedin">{% trans 'LinkedIn' %}</label>
															<input type="url" class="form-control" name="linkedin" id="linkedin" value="{{ user.profile.linkedin }}">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-sm-6">
															<label for="twitter">{% trans 'Twitter' %}</label>
															<input type="url" class="form-control" name="twitter" id="twitter" value="{{ user.profile.twitter }}">
														</div>
														<div class="col-sm-6">
															<label for="instagram">{% trans 'Instagram' %}</label>
															<input type="url" class="form-control" name="instagram" id="instagram" value="{{ user.profile.instagram }}">
														</div>
													</div>
												</div>
												<div class="form-group">
													<label for="bio">{% trans 'About me' %}</label>
													<textarea name="bio" id="bio" class="form-control" cols="30" rows="10">{{ user.profile.bio }}</textarea>
												</div>

												<div class="row">
													<div class="col-12">
														<div class="form-group mb-0">
															<button type="submit" class="default-btn">{% trans 'Save changes' %}</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
	
									<div class="tab-pane fade edit-profile" id="change-linkedin" role="tabpanel" aria-labelledby="change-linkedin-tab">
										<div class="public-information">
											<h3>{% trans 'Change Password' %}</h3>
											<div class="form-group mb-0">
												<a href="{% url 'account_change_password' %}">
													<button class="default-btn">{% trans 'Change Password' %}</button>
												</a>
											</div>
										</div>
									</div>

									<div class="tab-pane fade edit-profile" id="email-settings" role="tabpanel" aria-labelledby="email-settings-tab">
										<div class="public-information">
											<h3>{% trans 'Email settings' %}</h3>
											<div class="form-group mb-0">
												<a href="{% url 'account_email' %}">
													<button class="default-btn">{% trans 'Manage your Emails' %}</button>
												</a>
											</div>
										</div>
									</div>

									<div class="tab-pane fade edit-profile" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
										<div class="public-information">
											<h3>{% trans 'Privacy Settings' %}</h3>

											<form class="edeite-content">
												<div class="form-group">
													<label>{% trans 'Profile Picture' %}</label>
													<select class="form-select form-control" aria-label="Default select example">
														<option selected>{% trans 'Visible' %}</option>
														<option value="1">{% trans 'Hidden' %}</option>
													</select>
												</div>
												<div class="form-group">
													<label>{% trans 'Email' %}</label>
													<select class="form-select form-control" aria-label="Default select example">
														<option selected>{% trans 'Visible' %}</option>
														<option value="1">{% trans 'Hidden' %}</option>
													</select>
												</div>
												<div class="form-group">
													<label>{% trans 'Country' %}</label>
													<select class="form-select form-control" aria-label="Default select example">
														<option selected>{% trans 'Visible' %}</option>
														<option value="1">{% trans 'Hidden' %}</option>
													</select>
												</div>
												<div class="form-group">
													<label>{% trans 'Phone' %}</label>
													<select class="form-select form-control" aria-label="Default select example">
														<option selected>{% trans 'Visible' %}</option>
														<option value="1">{% trans 'Hidden' %}</option>
													</select>
												</div>
												<div class="form-group">
													<label>{% trans 'Gender' %}</label>
													<select class="form-select form-control" aria-label="Default select example">
														<option selected>{% trans 'Visible' %}</option>
														<option value="1">{% trans 'Hidden' %}</option>
													</select>
												</div>
												<div class="form-group">
													<label>{% trans 'Social links' %}</label>
													<select class="form-select form-control" aria-label="Default select example">
														<option selected>{% trans 'Visible' %}</option>
														<option value="1">{% trans 'Hidden' %}</option>
													</select>
												</div>
												<div class="form-group">
													<label>{% trans 'Website' %}</label>
													<select class="form-select form-control" aria-label="Default select example">
														<option selected>{% trans 'Visible' %}</option>
														<option value="1">{% trans 'Hidden' %}</option>
													</select>
												</div>
												<div class="form-group">
													<label>{% trans 'Biography' %}</label>
													<select class="form-select form-control" aria-label="Default select example">
														<option selected>{% trans 'Visible' %}</option>
														<option value="1">{% trans 'Hidden' %}</option>
													</select>
												</div>
												<div class="form-group mb-0">
													<button class="default-btn">{% trans 'Save' %}</button>
												</div>
											</form>
										</div>
									</div>

									<div class="tab-pane fade edit-profile" id="delete-account" role="tabpanel" aria-labelledby="delete-account-tab">
										<div class="public-information">
											<h3>{% trans 'Delete Account' %}</h3>
											
											<ul class="delete-account">
												<li>
													<div class="form-check">
														<input class="form-check-input" type="checkbox"  id="flexCheckDefault-9">
														<label class="form-check-label" for="flexCheckDefault-9">
															{% trans 'Deactivate your account?' %}
														</label>
													</div>
												</li>
												<li>
													<a href="" class="default-btn">
														{% trans 'Deactivate' %}
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->
{% endblock %}
