{% extends 'base.html' %}
{% load i18n %}
{% block content %}
		<!-- Start Mail Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						{% include 'partials/left-sidebar.html' %}
					</div>

					<div class="col-lg-9">
						<div class="user-profile-area">
							{% include 'user/partials/top-nav.html' %}

							<div class="profile-achive">
								<div class="row">
									<div class="col-xl-3 col-sm-6">
										<div class="single-achive">
											<h2>{{ user.answers.all.count }}</h2>
											<span>{% trans 'Answers' %}</span>
										</div>
									</div>

									<div class="col-xl-3 col-sm-6">
										<div class="single-achive">
											<h2>{{ user.questions.all.count }}</h2>
											<span>{% trans 'Question' %}</span>
										</div>
									</div>

									<div class="col-xl-3 col-sm-6">
										<div class="single-achive">
											<h2>{{ user.joined_groups.all.count }}</h2>
											<span>{% trans 'Groups' %}</span>
										</div>
									</div>

									<div class="col-xl-3 col-sm-6">
										<div class="single-achive">
											<h2>{{ user.followed_tags.all.count }}</h2>
											<span>{% trans 'Tags' %}</span>
										</div>
									</div>
								</div>
							</div>

							<div class="about">
								<h3>{% trans 'About' %}</h3>
								{{ user.profile.bio|linebreaksbr|default:'No About Updated' }}
							</div>

							<!-- <div class="badges">
								<h3>Badges</h3>

								<div class="row justify-content-center">
									<div class="col-xl-3 col-sm-6">
										<div class="single-badges-box">
											<img src="/static/assets/images/badges/badges-3.png" alt="Image">
											<h3>Bronze badges</h3>
											<p>Sed porttitor lectus nibh. Nulla porttitor accumsan.</p>
										</div>
									</div>
	
									<div class="col-xl-3 col-sm-6">
										<div class="single-badges-box">
											<img src="/static/assets/images/badges/badges-4.png" alt="Image">
											<h3>Silver badges</h3>
											<p>Sed porttitor lectus nibh. Nulla porttitor accumsan.</p>
										</div>
									</div>
	
									<div class="col-xl-3 col-sm-6">
										<div class="single-badges-box">
											<img src="/static/assets/images/badges/badges-5.png" alt="Image">
											<h3>Gold badges</h3>
											<p>Sed porttitor lectus nibh. Nulla porttitor accumsan.</p>
										</div>
									</div>
	
									<div class="col-xl-3 col-sm-6">
										<div class="single-badges-box">
											<img src="/static/assets/images/badges/badges-6.png" alt="Image">
											<h3>Platinum badges</h3>
											<p>Sed porttitor lectus nibh. Nulla porttitor accumsan.</p>
										</div>
									</div>
								</div>
							</div> -->

							<div class="top-tags mt-4">
								<div class="tag-title d-flex justify-content-between">
									<h3>{% trans 'Followed tags' %}</h3>
									<a href="" class="read-more">{% trans 'View all tags' %}</a>
								</div>

								<ul>
									{% if not request.user.followed_tags.all %}
										<li>
											<span class="tag-cate">{% trans 'No tags followed' %}</span>
										</li>
									{% else %}
										{% for tag in request.user.followed_tags.all %}
											<li>
												<span class="tag-cate">{{ tag.title }}</span>
												<span class="tag-score">{{ tag.followers.all.count }} {% trans 'followers' %}</span>
												<span class="tag-score">{{ tag.questions.all.count }} {% trans 'posts' %}</span>
											</li>
										{% endfor %}
									{% endif %}
								</ul>
							</div>

							<div class="top-posts">
								<div class="d-flex justify-content-between">
									<h3>{% trans 'Activities' %}</h3>

									<ul class="nav nav-tabs" id="myTab" role="tablist">
										<li class="nav-item" role="presentation">
											<button class="nav-link active" id="view-all-tab" data-bs-toggle="tab" data-bs-target="#view-all" type="button" role="tab" aria-controls="view-all" aria-selected="true">{% trans 'Posts/Questions' %}</button>
										</li>
										
										<li class="nav-item" role="presentation">
										  	<button class="nav-link" id="question-tab" data-bs-toggle="tab" data-bs-target="#question" type="button" role="tab" aria-controls="question" aria-selected="false">{% trans 'Answers' %}</button>
										</li>

										<li class="nav-item" role="presentation">
										  	<button class="nav-link" id="answers-tab" data-bs-toggle="tab" data-bs-target="#answers" type="button" role="tab" aria-controls="answers" aria-selected="false">{% trans 'Groups' %}</button>
										</li>

										<li class="nav-item" role="presentation">
										  	<button class="nav-link" id="newest-tab" data-bs-toggle="tab" data-bs-target="#newest" type="button" role="tab" aria-controls="newest" aria-selected="false">{% trans 'Tags' %}</button>
										</li>

										<li class="nav-item" role="presentation">
										  	<button class="nav-link" id="votes-tab" data-bs-toggle="tab" data-bs-target="#votes" type="button" role="tab" aria-controls="votes" aria-selected="false">{% trans 'Communities' %}</button>
										</li>
									</ul>
								</div>

								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active" id="view-all" role="tabpanel" aria-labelledby="view-all-tab">
										<ul>
											{% if user.questions.all %}
												{% for question in user.questions.all %}
													<li class="d-flex justify-content-between">
														<div class="top-posts-list">
															<i class="ri-chat-2-fill"></i>
															<span class="count">{{ question.answers.all.count }}</span>
															<span>{{ question.title }}</span>
														</div>
														<p><span>{{ question.created_at }}</span> {% trans 'by' %} <a href="{% url 'users:user_profile' question.user.username %}">{{ question.user.get_full_name|default:'No Name' }}</a></p>
													</li>
												{% endfor %}
											{% else %}
												<li>
													<span class="tag-cate">{% trans 'No Posts/Questions' %}</span>
												</li>
											{% endif %}
										</ul>
									</div>

									<div class="tab-pane fade" id="question" role="tabpanel" aria-labelledby="question-tab">
										<ul>
											{% if user.answers.all %}
												{% for answer in user.answers.all %}
													<li class="d-flex justify-content-between">
														<div class="top-posts-list">
															<span>{{ answer.content|truncatechars:80 }}</span>
														</div>
														<p><span>{{ answer.created_at }}</span> {% trans 'by' %} <a href="{% url 'users:user_profile' answer.user.username %}">{{ answer.user.get_full_name|default:'No Name' }}</a></p>
													</li>
												{% endfor %}
											{% else %}
												<li>
													<span class="tag-cate">{% trans 'No Answers' %}</span>
												</li>
											{% endif %}
										</ul>
									</div>
									<div class="tab-pane fade" id="answers" role="tabpanel" aria-labelledby="answers-tab">
										<ul>
											{% if user.joined_groups.all %}
												{% for group in user.joined_groups.all %}
													<li class="d-flex justify-content-between">
														<div class="top-posts-list">
															<i class="ri-chat-2-fill"></i>
															<span class="count">{{ group.questions.all.count }}</span>
															<span>{{ group.title }}</span>
														</div>
														<p><span>{{ group.created_at }}</span> {% trans 'by' %} <a href="{% url 'users:user_profile' group.owner.username %}">{{ group.owner.get_full_name|default:'No Name' }}</a></p>
													</li>
												{% endfor %}
											{% else %}
												<li>
													<span class="tag-cate">{% trans 'No Groups Joined' %}</span>
												</li>
											{% endif %}
										</ul>
									</div>
									<div class="tab-pane fade" id="newest" role="tabpanel" aria-labelledby="newest-tab">
										<ul>
											{% if user.followed_tags.all %}
												{% for tag in user.followed_tags.all %}
													<li class="d-flex justify-content-between">
														<div class="top-posts-list">
															<i class="ri-chat-2-fill"></i>
															<span class="count">{{ tag.questions.all.count }}</span>
															<span>{{ tag.title }}</span>
														</div>
														<p><span>{{ tag.created_at }}</span> {% trans 'by' %} <a href="{% url 'users:user_profile' user.username %}">{{ user.get_full_name|default:'No Name' }}</a></p>
													</li>
												{% endfor %}
											{% else %}
												<li>
													<span class="tag-cate">{% trans 'No Tags Followed' %}</span>
												</li>
											{% endif %}
										</ul>
									</div>
									<div class="tab-pane fade" id="votes" role="tabpanel" aria-labelledby="votes-tab">
										<ul>
											{% if user.followed_communities.all %}
												{% for community in user.followed_communities.all %}
													<li class="d-flex justify-content-between">
														<div class="top-posts-list">
															<i class="ri-chat-2-fill"></i>
															<span class="count">{{ community.questions.all.count }}</span>
															<span>{{ community.title }}</span>
														</div>
														<p><span>{{ community.created_at }}</span> {% trans 'by' %} <a href="{% url 'users:user_profile' community.owner.username %}">{{ community.owner.get_full_name|default:'No Name' }}</a></p>
													</li>
												{% endfor %}
											{% else %}
												<li>
													<span class="tag-cate">{% trans 'No Communities Followed' %}</span>
												</li>
											{% endif %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->
{% endblock %}