{% extends 'base.html' %}
{% load i18n %}
{% block content %}

		<!-- Start Mail Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						{% include 'partials/left-sidebar.html' %}
					</div>

					<div class="col-lg-9">
						<div class="referrals-area">
							<div class="referrals-content">
								<h3>{% trans 'Spread the word with friends. Earn points.' %}</h3>
								<p>{% trans 'We have a number of ways to help spread the word to your friends and family, Choose whatever works best for you.' %}</p>

								<form class="referrals-form">
									<div class="fprm-group">
										<label>{% trans 'Send a referral by email.' %}</label>
										<input type="email" class="form-control" name="email" id="email" placeholder="Send and email">

										<button type="submit" class="default-btn">
											{% trans 'Send' %}
										</button>
									</div>

									<div class="fprm-group">
										<label>{% trans 'Copy and paste your referral link anywhere.' %}</label>
										<input type="text" class="form-control copy" name="email" id="text" placeholder="https://www.healthlink.vstech.co.ke/invite={{request.user}}">

										<button class="default-btn">
											{% trans 'Copy' %}
										</button>
									</div>
								</form>
							</div>
							<div class="row">
								<div class="col-lg-3 col-sm-6">
									<div class="single-referrals">
										<h2>14</h2>
										<span>{% trans 'Invitations Sent' %}</span>
									</div>
								</div>

								<div class="col-lg-3 col-sm-6">
									<div class="single-referrals">
										<h2>7</h2>
										<span>{% trans 'Pending' %}</span>
									</div>
								</div>

								<div class="col-lg-3 col-sm-6">
									<div class="single-referrals">
										<h2>2</h2>
										<span>{% trans 'Completed' %}</span>
									</div>
								</div>

								<div class="col-lg-3 col-sm-6">
									<div class="single-referrals">
										<h2>100</h2>
										<span>{% trans 'Earned' %}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->

{% endblock %}