{% extends 'base.html' %}
{% block content %}
		<!-- Start Mail Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						{% include 'partials/left-sidebar.html' %}
					</div>

					<div class="col-lg-6">
						<div class="middull-content">
							<ul class="page-nish">
								<li>
									<a href="/">
										<i class="ri-home-8-line"></i>
										Home
									</a>
								</li>
								<li class="active">
									Tags
								</li>
							</ul>

							{% include 'partials/search.html' %}

							<div class="tag-content">
								{% if tags %}
								<div class="row justify-content-center">
									{% for tag in tags %}
										<div class="col-lg-6 col-md-6">
											<div class="single-tags-box">
												<ul class="tag-mark">
													<li>
														<i class="ri-price-tag-3-line"></i>
														<span>{{ tag.title }}</span>
													</li>
													<li>
														{{ tag.questions.all.count }} questions
													</li>
												</ul>
												<p>{{ tag.description|truncatechars:110|default:'No description provided' }}</p>
												<ul class="tag-btn d-flex justify-content-between">
													<li>
														<button class="default-btn">
															{{ tag.followers.all.count }} Followers
														</button>
													</li>
													<li>
														<a href="{% url 'questions:follow_unfollow_tag' tag.slug %}">
															<button class="default-btn active">
																{% if request.user in tag.followers.all %}
																	Unfollow
																{% else %}
																	Follow
																{% endif %}
															</button>
														</a>
													</li>
												</ul>
											</div>
										</div>
									{% endfor %}
									<!-- <div class="col-12">
										<div class="pagination-area mt-0">
											<a href="tags.html" class="next page-numbers">
												<i class="ri-arrow-left-line"></i>
											</a>
											<span class="page-numbers current" aria-current="page">1</span>
											<a href="tags.html" class="page-numbers">2</a>
											<a href="tags.html" class="page-numbers">3</a>
											
											<a href="tags.html" class="next page-numbers">
												<i class="ri-arrow-right-line"></i>
											</a>
										</div>
									</div> -->
								</div>
								{% else %}
									<div class="alert alert-warning">
										No tags found
									</div>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						{% include 'resources/partials/right-sidebar.html' %}
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->
{% endblock %}